.logo{
	float: left;
	padding: 10px
	height: 25%;
	width: 20%;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
 }

.backgroundimage{
	background-image: url("D:/UOW Web Hosting/localsite/public_html/images/dj.jpg") , 
			          url("D:/UOW Web Hosting/localsite/public_html/images/rdsPWy.webp");
    background-position: top, center, bottom;
    background-size: 1700px 1100px, 2000px 1200px;			  
	background-repeat: no-repeat, no-repeat;
			  
			  
}
#quiz {
	font-family: 'Quicksand', sans-serif;
	border: 2px solid black;
    text-align: center;
	width: 500px;
	margin-left:500px;		  
}
label{
	cursor: pointer;
}
		
h1 {
	text-align: center;
	color: #00004d;
	font-family: 'Quicksand', Cursive;
    font-weight: 300;
	font-size:70px;
	margin-top:100px;
}
#quiz{
	background-color: black;
	display: none;
	color:white;
}
#end {
	display: none;
	backdrop-filter: blur(5px);
	background-color: rgb(20,38,52);
	border: 3px solid black;
	border-radius: 50px;
	width: 800px;
	margin-left:350px;
	margin-top:50px;
	color: white;			
	font-size:20px;
	padding: 10px;
	text-align: center;
}
.sumbitBtn {
			
	color: white;
	width:200px;
	height:50px;
	border-radius: 30px;
	font-size: 20px;
						
	margin-top: 30px;
	cursor: pointer;
    margin-bottom: 30px;
			
	background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
		
.sumbitBtn:hover {
    background: linear-gradient(to bottom, #3acfd5 0%, #0aa35e 100%);
}
		
.button-hover {
		      
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
	margin-left: 650px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.button-hover:hover {
    background-position: 100% 0;
    
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.button-hover.start {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

